# Examen Pandas - Unidad 1

### Data Science The Bridge - 2020

Primero de todo, importa la que seguro es ya tu librería favorita y que vas a necesitar, seguro, para realizar este examen.

In [71]:
# no borres esto y ejecútalo junto con tu librería favorita
import warnings
warnings.simplefilter(action='ignore')

# aquí tu librería favorita
import pandas as pd

Para trabajar con **pandas** lo primero que necesitarás, son datos, en la vida real deberías entrar en este enlace de **kaggle** y descargar el dataset: https://www.kaggle.com/neuromusic/avocado-prices. Con el fin de poder leer el `.csv` sin problema, habría que copiarlo en la misma carpeta donde se encuentra este archivo `.ipynb`. 

Pero como esto es un examen, ya lo tienes en esta carpeta, por lo que solo tienes que leerlo. Asígnalo a la variable `avocado` y muestra las primeras 5 filas. 

**AVISO**: Al llamar a la función que lee el `.csv` no uses ningún argumento, solo el nombre del archivo `"avocado_kaggle.csv"`.

In [72]:
avocado = pd.read_csv("avocado_kaggle.csv")

In [73]:
avocado

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [74]:
avocado.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

Lo primero que debe hacer un Data Scientist es conocer los datos con los que está trabajando, por esto, explora el dataset:
- sacando los nombres de las distintas columnas, 
- qué tipo de datos contienen estas columnas, 
- cuántas filas y columnas tiene el dataframe,
- además de un marco de datos de estadísticas descriptivas de dicho dataframe.

Utiliza la función/funciones que te parezcan mejor para hacer dicha exploración.

In [75]:
avocado.columns.values

for x in avocado.columns.values:
    print(x)

Unnamed: 0
Date
AveragePrice
Total Volume
4046
4225
4770
Total Bags
Small Bags
Large Bags
XLarge Bags
type
year
region

In [76]:
avocado.dtypes

Unnamed: 0        int64
Date             object
AveragePrice    float64
Total Volume    float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
dtype: object

In [77]:
avocado.describe()

,Unnamed: 0,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
count,18249.000000,18249.000000,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,1.824900e+04,18249.000000,18249.000000
mean,24.232232,1.405978,8.506440e+05,2.930084e+05,2.951546e+05,2.283974e+04,2.396392e+05,1.821947e+05,5.433809e+04,3106.426507,2016.147899
std,15.481045,0.402677,3.453545e+06,1.264989e+06,1.204120e+06,1.074641e+05,9.862424e+05,7.461785e+05,2.439660e+05,17692.894652,0.939938
min,0.000000,0.440000,8.456000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2015.000000
25%,10.000000,1.100000,1.083858e+04,8.540700e+02,3.008780e+03,0.000000e+00,5.088640e+03,2.849420e+03,1.274700e+02,0.000000,2015.000000
50%,24.000000,1.370000,1.073768e+05,8.645300e+03,2.906102e+04,1.849900e+02,3.974383e+04,2.636282e+04,2.647710e+03,0.000000,2016.000000
75%,38.000000,1.660000,4.329623e+05,1.110202e+05,1.502069e+05,6.243420e+03,1.107834e+05,8.333767e+04,2.202925e+04,132.500000,2017.000000
max,52.000000,3.250000,6.250565e+07,2.274362e+07,2.047057e+07,2.546439e+06,1.937313e+07,1.338459e+07,5.719097e+06,551693.650000,2018.000000

In [78]:
avocado.shape

(18249, 14)

Muestra el index número **2904** de la columna `Date`.

In [79]:

date2904 = avocado.iloc[2904].Date
date2904

'2016-02-21'

¿De qué tipo es este valor?

In [80]:
type(date2904)

str

Esta columna contiene fechas, por lo que para poder trabajarla como tal, pásala a tipo `datetime64[ns]`.

Existe una forma de importar el archivo `.csv` estableciendo la columna `Date` como el index, si has hecho esto al importar el archivo, a pesar del AVISO, vuelve a importarlo sin incluir argumentos.

In [81]:
import datetime as dt

In [82]:
avocado.Date = pd.to_datetime(avocado.Date)

Establece esta columna como el index de `avocado`.

In [83]:
avocado = avocado.set_index('Date')

Muestra los 7 últimos valores del dataframe y observa que efectivamente se ha actualizado el index.

In [87]:
avocado.tail(7)

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,
2018-02-18,1.56,17597.12,1892.05,1928.36,0.00,13776.71,13553.53,223.18,0.0,organic,2018,WestTexNewMexico
2018-02-11,1.57,15986.17,1924.28,1368.32,0.00,12693.57,12437.35,256.22,0.0,organic,2018,WestTexNewMexico
2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

Además si al leer el archivo `.csv` no eliminaste esta columna, el dataframe seguirá teniendo una columna llamada `Unnamed: 0` que contendría el valor de los index. Si es así, elimínala.

In [120]:
#No lo eliminé la columna al leer el archivo pero ahora no aparece. No obstante dejo cómo lo haría en caso de que estuviera en el df.

avocado = avocado.drop(["Unnamed: 0"], axis = 1)

KeyError: "['Unnamed: 0'] not found in axis"

¿Qué columnas continúan siendo de tipo **object**? Usa al menos una función de **pandas** para ello.

In [95]:
avocado.dtypes

AveragePrice    float64
Total Volume    float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
dtype: object

In [96]:
avocado.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 18249 entries, 2015-12-27 to 2018-01-07
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AveragePrice  18249 non-null  float64
 1   Total Volume  18249 non-null  float64
 2   4046          18249 non-null  float64
 3   4225          18249 non-null  float64
 4   4770          18249 non-null  float64
 5   Total Bags    18249 non-null  float64
 6   Small Bags    18249 non-null  float64
 7   Large Bags    18249 non-null  float64
 8   XLarge Bags   18249 non-null  float64
 9   type          18249 non-null  object
 10  year          18249 non-null  int64
 11  region        18249 non-null  object
dtypes: float64(9), int64(1), object(2)
memory usage: 2.4+ MB

¿Cuántos valores únicos encontramos en estas columnas que continúan siendo de tipo **object**?

In [121]:
x = avocado.type.unique()

In [122]:
x

array(['conventional', 'organic'], dtype=object)

In [123]:
print (len(x))

2

In [126]:
y = avocado.region.unique()
y

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [127]:
print (len(y))

54

¿Qué número de ocurrencias tiene cada uno de estos valores únicos en la columna en que se encuentra?

In [130]:
for i in x:
    print(i ,len(i))

conventional 12
organic 7

In [129]:
for i in y:
    print(i ,len(i))

Albany 6
Atlanta 7
BaltimoreWashington 19
Boise 5
Boston 6
BuffaloRochester 16
California 10
Charlotte 9
Chicago 7
CincinnatiDayton 16
Columbus 8
DallasFtWorth 13
Denver 6
Detroit 7
GrandRapids 11
GreatLakes 10
HarrisburgScranton 18
HartfordSpringfield 19
Houston 7
Indianapolis 12
Jacksonville 12
LasVegas 8
LosAngeles 10
Louisville 10
MiamiFtLauderdale 17
Midsouth 8
Nashville 9
NewOrleansMobile 16
NewYork 7
Northeast 9
NorthernNewEngland 18
Orlando 7
Philadelphia 12
PhoenixTucson 13
Pittsburgh 10
Plains 6
Portland 8
RaleighGreensboro 17
RichmondNorfolk 15
Roanoke 7
Sacramento 10
SanDiego 8
SanFrancisco 12
Seattle 7
SouthCarolina 13
SouthCentral 12
Southeast 9
Spokane 7
StLouis 7
Syracuse 8
Tampa 5
TotalUS 7
West 4
WestTexNewMexico 16

Ahora que hemos explorado el dataframe, podemos empezar a trabajar con ello. En este caso, ordena el `index` de manera que la fecha **2015-01-04** quede arriba.

Agrupa el dataframe `avocado` por tipo y quédate con el mínimo del resto de las columnas.

In [131]:
avocado.groupby("type").min

Además, queremos conocer el máximo de bolsas pequeñas, bolsas grandes y bolsas extragrandes de aguacates que se vendieron por año, por cada región. Crea un dataframe que se llame `group_bags` que muestre dicha información.

In [147]:
avocado.groupby("year").["Small Bags"].max()

SyntaxError: invalid syntax (<ipython-input-147-82ccb29dc105>, line 1)

In [143]:
avocado

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
Date,,,,,,,,,,,,
2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [12]:
group_bags = avocado.groupby()

A partir del dataframe `group_bags` muestra en qué año y en qué región se vendió el máximo número de bolsas pequeñas de aguacates.

Asigna a la variable `avocado_months` el dataframe `avocado` agrupado por **meses** y por la media de los valores de cada columna. Hay dos maneras diferentes de resolver este ejercicio, sin embargo, con uno sería suficiente. 

Muestra solo los primeros 15 valores.

In [48]:
avocado_months = avocado.resample('M').mean()

In [58]:
avocado_months.head(16)

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
Date,,,,,,,,,,
2015-01-31,1.365046,736308.355532,296829.313565,301506.093912,20635.684028,117337.264028,96502.584213,20513.634144,321.045671,2015
2015-02-28,1.326944,839438.887106,354552.080000,334110.463727,24220.692431,126555.650949,106004.821690,20017.510602,533.318657,2015
2015-03-31,1.361981,775153.832907,324630.507778,299831.998981,23068.926037,127622.400111,109589.476796,17325.542056,707.381259,2015
2015-04-30,1.383449,796630.544329,348567.729491,291150.142593,22056.120440,134856.551806,114351.516134,19976.716250,528.319421,2015
2015-05-31,1.344685,895896.379241,394883.681407,330662.679722,23923.426833,146426.591278,123510.636407,22365.188204,550.766667,2015
2015-06-30,1.399074,883858.203032,374715.185903,317095.642338,28241.728264,163805.646528,140095.819745,22889.726667,820.100116,2015
2015-07-31,1.409444,825698.779236,326456.573750,321060.962685,27713.835718,150467.386250,126518.964097,23135.342292,813.075231,2015
2015-08-31,1.444481,776379.286704,300310.837796,321335.405667,25399.461870,129333.573963,109437.493519,18895.924852,1000.153741,2015
2015-09-30,1.449144,762080.632060,247781.252500,356497.374190,27756.865671,130045.139699,100038.074236,28664.317685,1342.747778,2015
2015-10-31,1.391968,707815.071806,214976.447894,331744.578704,32360.636991,128733.408218,99441.142894,28159.288125,1132.977199,2015
2015-11-30,1.330611,684148.215537,230572.546722,292348.258463,24339.130463,136888.279889,106598.555463,29190.574759,1099.149667,2015
2015-12-31,1.305244,686835.108794,230718.662738,268747.887401,26654.108329,160714.450325,125089.361833,32706.897680,2918.190812,2015
2016-01-31,1.240185,880381.047370,248846.960093,354846.291574,36216.326611,240471.469093,176353.023167,61009.767944,3108.677981,2016
2016-02-29,1.237106,992235.652731,303715.019931,372600.768704,44169.501713,271750.362384,199309.627477,69751.625301,2689.109606,2016
2016-03-31,1.224213,905584.278426,276501.768171,330062.790810,42992.560046,256027.159398,193483.747222,60488.572407,2054.839769,2016
2016-04-30,1.205023,930168.406921,296899.473704,321948.473310,41840.764861,269479.695046,200286.460347,67071.042153,2122.192546,2016

In [ ]:
avocado

A partir de `avocado_months` calcula el precio máximo de los aguacates de los meses de enero.

In [ ]:
year = monthly.resample('AS-JAN').sum()

In [52]:
avocado_months.AveragePrice.max

<bound method Series.max of Date
2015-01-31    1.365046
2015-02-28    1.326944
2015-03-31    1.361981
2015-04-30    1.383449
2015-05-31    1.344685
2015-06-30    1.399074
2015-07-31    1.409444
2015-08-31    1.444481
2015-09-30    1.449144
2015-10-31    1.391968
2015-11-30    1.330611
2015-12-31    1.305244
2016-01-31    1.240185
2016-02-29    1.237106
2016-03-31    1.224213
2016-04-30    1.205023
2016-05-31    1.199722
2016-06-30    1.283056
2016-07-31    1.401333
2016-08-31    1.411111
2016-09-30    1.427870
2016-10-31    1.557093
2016-11-30    1.550023
2016-12-31    1.315995
2017-01-31    1.277500
2017-02-28    1.214792
2017-03-31    1.398935
2017-04-30    1.502611
2017-05-31    1.532593
2017-06-30    1.545395
2017-07-31    1.564926
2017-08-31    1.698958
2017-09-30    1.840949
2017-10-31    1.752444
2017-11-30    1.517292
2017-12-31    1.363852
2018-01-31    1.387431
2018-02-28    1.318704
2018-03-31    1.336458
Freq: M, Name: AveragePrice, dtype: float64>

Asigna a la variable `avocado_tri` el dataframe `avocado` agrupado por **trimestre** y el sumatorio de los valores de cada columna.

In [109]:
avocado_tri = avocado.resample('q').sum()

In [110]:
avocado_tri

,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,year
Date,,,,,,,,,,
2015-03-31,1898.41,1.099306e+09,4.566972e+08,4.364956e+08,31835174.69,1.742778e+08,1.466615e+08,2.686525e+07,751071.27,2829060
2015-06-30,1928.18,1.209755e+09,5.256954e+08,4.413200e+08,34647321.13,2.080924e+08,1.766170e+08,3.059550e+07,879931.24,2829060
2015-09-30,2014.93,1.105166e+09,4.102386e+08,4.662263e+08,37679052.41,1.910215e+08,1.569689e+08,3.258125e+07,1471398.56,2829060
2015-12-31,1882.42,9.712421e+08,3.168187e+08,4.170121e+08,38610846.32,1.988004e+08,1.544353e+08,4.202440e+07,2340727.21,2827045
2016-03-31,1732.99,1.295264e+09,3.850310e+08,4.951677e+08,57210827.05,3.578545e+08,2.649174e+08,8.920904e+07,3728072.24,2830464
2016-06-30,1722.70,1.373391e+09,4.360864e+08,4.837823e+08,58172982.04,3.953497e+08,2.949497e+08,9.408578e+07,6314245.81,2830464
2016-09-30,1983.16,1.200376e+09,4.058025e+08,3.809667e+08,28142016.94,3.854644e+08,3.089260e+08,6.888170e+07,7656739.22,2830464
2016-12-31,2078.95,9.518589e+08,2.982030e+08,3.128116e+08,16354018.98,3.244903e+08,2.377012e+08,8.444982e+07,2339227.57,2830464
2017-03-31,1818.98,1.363704e+09,4.523391e+08,4.418313e+08,28524805.37,4.410084e+08,3.361744e+08,1.005306e+08,4303382.65,2831868
2017-06-30,2138.01,1.325956e+09,4.452622e+08,3.845312e+08,23919667.08,4.722427e+08,3.494937e+08,1.148528e+08,7896174.51,2827834
2017-09-30,2374.30,1.098016e+09,3.689541e+08,3.521750e+08,21378661.99,3.554933e+08,2.594651e+08,8.754855e+07,8479693.81,2831868
2017-12-31,2338.27,1.146630e+09,3.854827e+08,3.661972e+08,17394373.34,3.775444e+08,2.778194e+08,9.640709e+07,3317921.37,3049704
2018-03-31,1746.40,1.382738e+09,4.604997e+08,4.077587e+08,22932594.79,4.915359e+08,3.607414e+08,1.235840e+08,7210591.87,2615328

Crea un subset de `avocado` en el que solo se incluyan las siguientes columnas: `"AveragePrice"`,`"Total Volume"`,`"type"`,`"year"` y `"region"`, llámalo `avo_subset`.

In [111]:
avo_subset = avocado[["AveragePrice","Total Volume","type","year", "region"]]

In [61]:
avo_subset

            AveragePrice  Total Volume          type  year            region
Date
2015-12-27          1.33      64236.62  conventional  2015            Albany
2015-12-20          1.35      54876.98  conventional  2015            Albany
2015-12-13          0.93     118220.22  conventional  2015            Albany
2015-12-06          1.08      78992.15  conventional  2015            Albany
2015-11-29          1.28      51039.60  conventional  2015            Albany
...                  ...           ...           ...   ...               ...
2018-02-04          1.63      17074.83       organic  2018  WestTexNewMexico
2018-01-28          1.71      13888.04       organic  2018  WestTexNewMexico
2018-01-21          1.87      13766.76       organic  2018  WestTexNewMexico
2018-01-14          1.93      16205.22       organic  2018  WestTexNewMexico
2018-01-07          1.62      17489.58       organic  2018  WestTexNewMexico

[18249 rows x 5 columns]

Filtra el dataframe `avo_subset` de modo que muestre solo aquellos datos de los aguacates tipo organic en la region de California durante el año 2017. Llama a la variable `org_Cal`.

In [155]:
org_Cal = avo_subset.groupby["type"("organic")]

TypeError: 'str' object is not callable

In [141]:
org_Cal = avo_subset.groupby('type')

In [142]:
org_Cal

Usando `org_Cal` saca la mediana del volumen total.

In [117]:
org_Cal.median

NameError: name 'org_Cal' is not defined

¿Qué precio medio había el día que el volumen total fue igual a la mediana de la mencionada columna, `"Total Volume"`?

In [22]:
# your code here

Muestra la evolución del precio medio, `"AveragePrice"`, de los aguacates de tipo orgánicos de California durante el año 2017 con un gráfico de una línea, usando `org_Cal`.

In [23]:
# your code here

A partir del subset `avo_subset` trata de sacar un gráfico en el que se pueda observar la cantidad de aguacates de tipo **conventional**, a lo largo de todos los periodos. 

Haz un gráfico simple usando la librería **pandas**.

In [24]:
# your code here

Crea una función **lambda** que quite los dos primeros dígitos de cada año de la columna `"year"` y lo convierta a string. 
Después aplica esta función a toda la columna del dataframe `avo_subset`. 

Ejemplo: `2015` --> `"15"`

In [25]:
# your code here

# ¡Ya tienes un 10!

**No te conformes y si te sobra tiempo, ve a por el 11 o si no, recupera algún puntito si algún ejercicio se te ha quedado atascado. ¡Otra oportunidad!**

En esta misma carpeta encontrarás un archivo llamado `supermarket_region.csv`, asígnalo a la variable `supermarket` y muestra los primeros 5 filas.

In [119]:
supermarket= pd.read_csv("supermarket_region.csv")
supermarket.head()

,region,Address,Supermarket Name
0,Midsouth,0,0
1,DallasFtWorth,"2025 Fort Worth Ave, Dallas, TX 75208, Estados...",Elrod's Cost Plus Supermarket
2,Detroit,"575 Brush St, Detroit, MI 48226, Estados Unidos",City Market
3,HartfordSpringfield,"1106 Union St, West Springfield, MA 01089, Est...",Price Rite of West Springfield
4,Tampa,"8401 N Armenia Ave, Tampa, FL 33604, Estados U...",Quadro Supermarket

El dataframe `supermarket` y `avo_subset` tienen una columna en común que es `region`, sabiendo esto, utiliza el método adecuado para unir ambos dataframes en uno llamado `avo_merged`. 

Si lo has hecho bien, no debería salir ningún **null**.

In [27]:
avo_merged =

Guarda `avo_merged` como un `.json` usando la función de **pandas** correspondiente, el nombre del archivo deberá ser `"avo_merged.json"`.

In [28]:
# your code here