In [2]:
import requests
import json
import pandas as pd

In [3]:
r = requests.get(url='http://data.nba.net/prod/v2/2018/teams.json')
json_readed = r.json()

print(json_readed)

In [4]:
with open ( "data_indented.json", "w+") as outfileNBA:
    json.dump(json_readed, outfileNBA, indent = 4)

print(json_readed)

In [5]:
df_jsonNBA = pd.read_json("data_indented.json")
df_jsonNBA

,_internal,league
pubDateTime,2018-08-30 20:00:04.422,NaN
xslt,xsl/league/roster/marty_teams_list.xsl,NaN
eventName,league_roster,NaN
standard,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
africa,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
sacramento,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
utah,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."

In [6]:
#Aquí estoy creando una variable que contiene lo que hay dentro de la columna "league" del dataframe (es decir, la lista "standard" que contiene el diccionario al que queremos acceder)
new_json = df_jsonNBA.league

In [7]:
print(new_json)

pubDateTime                                                  NaN
xslt                                                         NaN
eventName                                                    NaN
standard       [{'isNBAFranchise': False, 'isAllStar': True, ...
africa         [{'isNBAFranchise': False, 'isAllStar': False,...
sacramento     [{'isNBAFranchise': True, 'isAllStar': False, ...
vegas          [{'isNBAFranchise': True, 'isAllStar': False, ...
utah           [{'isNBAFranchise': True, 'isAllStar': False, ...
Name: league, dtype: object

In [7]:
# Aquí estoy creando una variable qu contiene lo que hay dentro de "standard" (el diccionario que buscamos atrapar para concatenar después)
dentro_league = new_json ["standard"]

# Creamos un archivo .json en la carpeta para almacenarlo
with open ('dentro_league.json', 'w+') as outfile:
    json.dump(dentro_league, outfile, indent=4)

In [8]:
# Creamos el dataframe del contenido de la columna league ya limpio
df_dentro_league = pd.read_json("dentro_league.json")

In [9]:
print(df_dentro_league)

isNBAFranchise  isAllStar            city         altCityName  \
0            False       True             USA                 USA
1            False       True           World               World
2            False       True            Team                Team
3            False       True            Team                Team
4            False       True    Team Giannis        Team Giannis
5            False       True     Team LeBron         Team LeBron
6            False      False            Team                Team
7            False      False            Team                Team
8            False      False        Adelaide            Adelaide
9             True      False         Atlanta             Atlanta
10           False      False         Beijing             Beijing
11            True      False          Boston              Boston
12            True      False        Brooklyn            Brooklyn
13            True      False       Charlotte           Charlotte
14            True      False         Chicago             Chicago
15            True      False       Cleveland           Cleveland
16            True      False          Dallas              Dallas
17            True      False          Denver              Denver
18            True      False         Detroit             Detroit
19            True      False    Golden State        Golden State
20           False      False       Guangzhou           Guangzhou
21           False      False           Haifa               Haifa
22            True      False         Houston             Houston
23            True      False         Indiana             Indiana
24            True      False              LA         LA Clippers
25            True      False     Los Angeles  Los Angeles Lakers
26           False      False       Melbourne           Melbourne
27            True      False         Memphis             Memphis
28            True      False           Miami               Miami
29            True      False       Milwaukee           Milwaukee
30            True      False       Minnesota           Minnesota
31            True      False     New Orleans         New Orleans
32            True      False        New York            New York
33           False      False     New Zealand         New Zealand
34            True      False   Oklahoma City       Oklahoma City
35            True      False         Orlando             Orlando
36           False      False           Perth               Perth
37            True      False    Philadelphia        Philadelphia
38            True      False         Phoenix             Phoenix
39            True      False        Portland            Portland
40           False      False  Rio de Janeiro      Rio de Janeiro
41            True      False      Sacramento          Sacramento
42            True      False     San Antonio         San Antonio
43           False      False        Shanghai            Shanghai
44           False      False          Sydney              Sydney
45            True      False         Toronto             Toronto
46            True      False            Utah                Utah
47            True      False      Washington          Washington

                   fullName tricode      teamId         nickname  \
0                       USA     USA  1610616843              USA
1                     World     WLD  1610616844            World
2                 All-Stars     EST  1699999999        All-Stars
3                 All-Stars     WST  1699999998        All-Stars
4              Team Giannis     GNS  1610616833     Team Giannis
5               Team LeBron     LBN  1610616834      Team LeBron
6               Team Africa     AFR       12326           Africa
7                Team World     WLD       12327            World
8            Adelaide 36ers     ADL       15019            36ers
9             Atlanta Hawks     ATL  1610612737            Hawks
10            Beijing Ducks     BJD       15021            Ducks
11           Boston Celtics     BOS  1610612738          Celtics
12            Brooklyn Nets     BKN  1610612751             Nets
13        Charlotte Hornets     CHA  1610612766          Hornets
14            Chicago Bulls     CHI  1610612741            Bulls
15      Cleveland Cavaliers     CLE  1610612739        Cavaliers
16         Dallas Mavericks     DAL  1610612742        Mavericks
17           Denver Nuggets     DEN  1610612743          Nuggets
18          Detroit Pistons     DET  1610612765          Pistons
19    Golden State Warriors     GSW  1610612744         Warriors
20     Guangzhou Long-Lions     GUA       15018       Long-Lions
21            Maccabi Haifa     MAC          93    Maccabi Haifa
22          Houston Rockets     HOU  1610612745          Rockets
23           Indiana Pacers     IND  1610612754           Pacers
24              LA Clippers     LAC  1610612746         Clippers
25       Los Angeles Lakers     LAL  1610612747           Lakers
26         Melbourne United     MEL       15016           United
27        Memphis Grizzlies     MEM  1610612763        Grizzlies
28               Miami Heat     MIA  1610612748             Heat
29          Milwaukee Bucks     MIL  1610612749            Bucks
30   Minnesota Timberwolves     MIN  1610612750     Timberwolves
31     New Orleans Pelicans     NOP  1610612740         Pelicans
32          New York Knicks     NYK  1610612752           Knicks
33     New Zealand Breakers     NZB       15020         Breakers
34    Oklahoma City Thunder     OKC  1610612760          Thunder
35            Orlando Magic     ORL  1610612753            Magic
36           Perth Wildcats     PER         104         Wildcats
37       Philadelphia 76ers     PHI  1610612755            76ers
38             Phoenix Suns     PHX  1610612756             Suns
39   Portland Trail Blazers     POR  1610612757    Trail Blazers
40  Rio de Janeiro Flamengo     FLA       12325         Flamengo
41         Sacramento Kings     SAC  1610612758            Kings
42        San Antonio Spurs     SAS  1610612759            Spurs
43          Shanghai Sharks     SDS       12329  Shanghai Sharks
44             Sydney Kings     SYD       15015            Kings
45          Toronto Raptors     TOR  1610612761          Raptors
46                Utah Jazz     UTA  1610612762             Jazz
47       Washington Wizards     WAS  1610612764          Wizards

            urlName confName    divName
0               usa     East       East
1             world     East       East
2         assn_away     East       East
3         assn_home     West       West
4      team_giannis     East       East
5       team_lebron     West       West
6            africa
7             world
8             36ers     Intl
9             hawks     East  Southeast
10            ducks     Intl
11          celtics     East   Atlantic
12             nets     East   Atlantic
13          hornets     East  Southeast
14            bulls     East    Central
15        cavaliers     East    Central
16        mavericks     West  Southwest
17          nuggets     West  Northwest
18          pistons     East    Central
19         warriors     West    Pacific
20       long-lions     Intl
21    maccabi_haifa     Intl
22          rockets     West  Southwest
23           pacers     East    Central
24         clippers     West    Pacific
25           lakers     West    Pacific
26           united     Intl
27        grizzlies     West  Southwest
28             heat     East  Southeast
29            bucks     East    Central
30     timberwolves     West  Northwest
31         pelicans     West  Southwest
32           knicks     East   Atlantic
33         breakers     Intl
34          thunder     West  Northwest
35            magic     East  Southeast
36         wildcats     Intl
37           sixers     East   Atlantic
38             suns     West    Pacific
39          blazers     West  Northwest
40         flamengo     Intl
41            kings     West    Pacific
42            spurs     West  Southwest
43  shanghai_sharks     Intl
44            kings     Intl
45          raptors     East   Atlantic
46             jazz     West  Northwest
47          wizards     East  Southeast

In [11]:
# Concatenamos los dos Dataframes con axis = 0
final_df = pd.concat([df_dentro_league, df_jsonNBA] , axis = 1, sort= False)
final_df

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName,_internal,league
0,False,True,USA,USA,USA,USA,1.610617e+09,USA,usa,East,East,NaN,NaN
1,False,True,World,World,World,WLD,1.610617e+09,World,world,East,East,NaN,NaN
2,False,True,Team,Team,All-Stars,EST,1.700000e+09,All-Stars,assn_away,East,East,NaN,NaN
3,False,True,Team,Team,All-Stars,WST,1.700000e+09,All-Stars,assn_home,West,West,NaN,NaN
4,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1.610617e+09,Team Giannis,team_giannis,East,East,NaN,NaN
5,False,True,Team LeBron,Team LeBron,Team LeBron,LBN,1.610617e+09,Team LeBron,team_lebron,West,West,NaN,NaN
6,False,False,Team,Team,Team Africa,AFR,1.232600e+04,Africa,africa,,,NaN,NaN
7,False,False,Team,Team,Team World,WLD,1.232700e+04,World,world,,,NaN,NaN
8,False,False,Adelaide,Adelaide,Adelaide 36ers,ADL,1.501900e+04,36ers,36ers,Intl,,NaN,NaN
9,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1.610613e+09,Hawks,hawks,East,Southeast,NaN,NaN
10,False,False,Beijing,Beijing,Beijing Ducks,BJD,1.502100e+04,Ducks,ducks,Intl,,NaN,NaN
11,True,False,Boston,Boston,Boston Celtics,BOS,1.610613e+09,Celtics,celtics,East,Atlantic,NaN,NaN
12,True,False,Brooklyn,Brooklyn,Brooklyn Nets,BKN,1.610613e+09,Nets,nets,East,Atlantic,NaN,NaN
13,True,False,Charlotte,Charlotte,Charlotte Hornets,CHA,1.610613e+09,Hornets,hornets,East,Southeast,NaN,NaN
14,True,False,Chicago,Chicago,Chicago Bulls,CHI,1.610613e+09,Bulls,bulls,East,Central,NaN,NaN
15,True,False,Cleveland,Cleveland,Cleveland Cavaliers,CLE,1.610613e+09,Cavaliers,cavaliers,East,Central,NaN,NaN
16,True,False,Dallas,Dallas,Dallas Mavericks,DAL,1.610613e+09,Mavericks,mavericks,West,Southwest,NaN,NaN
17,True,False,Denver,Denver,Denver Nuggets,DEN,1.610613e+09,Nuggets,nuggets,West,Northwest,NaN,NaN
18,True,False,Detroit,Detroit,Detroit Pistons,DET,1.610613e+09,Pistons,pistons,East,Central,NaN,NaN
19,True,False,Golden State,Golden State,Golden State Warriors,GSW,1.610613e+09,Warriors,warriors,West,Pacific,NaN,NaN
20,False,False,Guangzhou,Guangzhou,Guangzhou Long-Lions,GUA,1.501800e+04,Long-Lions,long-lions,Intl,,NaN,NaN
21,False,False,Haifa,Haifa,Maccabi Haifa,MAC,9.300000e+01,Maccabi Haifa,maccabi_haifa,Intl,,NaN,NaN
22,True,False,Houston,Houston,Houston Rockets,HOU,1.610613e+09,Rockets,rockets,West,Southwest,NaN,NaN
23,True,False,Indiana,Indiana,Indiana Pacers,IND,1.610613e+09,Pacers,pacers,East,Central,NaN,NaN
24,True,False,LA,LA Clippers,LA Clippers,LAC,1.610613e+09,Clippers,clippers,West,Pacific,NaN,NaN
25,True,False,Los Angeles,Los Angeles Lakers,Los Angeles Lakers,LAL,1.610613e+09,Lakers,lakers,West,Pacific,NaN,NaN
26,False,False,Melbourne,Melbourne,Melbourne United,MEL,1.501600e+04,United,united,Intl,,NaN,NaN
27,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1.610613e+09,Grizzlies,grizzlies,West,Southwest,NaN,NaN
28,True,False,Miami,Miami,Miami Heat,MIA,1.610613e+09,Heat,heat,East,Southeast,NaN,NaN
29,True,False,Milwaukee,Milwaukee,Milwaukee Bucks,MIL,1.610613e+09,Bucks,bucks,East,Central,NaN,NaN
30,True,False,Minnesota,Minnesota,Minnesota Timberwolves,MIN,1.610613e+09,Timberwolves,timberwolves,West,Northwest,NaN,NaN
31,True,False,New Orleans,New Orleans,New Orleans Pelicans,NOP,1.610613e+09,Pelicans,pelicans,West,Southwest,NaN,NaN
32,True,False,New York,New York,New York Knicks,NYK,1.610613e+09,Knicks,knicks,East,Atlantic,NaN,NaN
33,False,False,New Zealand,New Zealand,New Zealand Breakers,NZB,1.502000e+04,Breakers,breakers,Intl,,NaN,NaN
34,True,False,Oklahoma City,Oklahoma City,Oklahoma City Thunder,OKC,1.610613e+09,Thunder,thunder,West,Northwest,NaN,NaN
35,True,False,Orlando,Orlando,Orlando Magic,ORL,1.610613e+09,Magic,magic,East,Southeast,NaN,NaN
36,False,False,Perth,Perth,Perth Wildcats,PER,1.040000e+02,Wildcats,wildcats,Intl,,NaN,NaN
37,True,False,Philadelphia,Philadelphia,Philadelphia 76ers,PHI,1.610613e+09,76ers,sixers,East,Atlantic,NaN,NaN
38,True,False,Phoenix,Phoenix,Phoenix Suns,PHX,1.610613e+09,Suns,suns,West,Pacific,NaN,NaN
39,True,False,Portland,Portland,Portland Trail Blazers,POR,1.610613e+09,Trail Blazers,blazers,West,Northwest,NaN,NaN
40,False,False,Rio de Janeiro,Rio de Janeiro,Rio de Janeiro Flamengo,FLA,1.232500e+04,Flamengo,flamengo,Intl,,NaN,NaN
41,True,False,Sacramento,Sacramento,Sacramento Kings,SAC,1.610613e+09,Kings,kings,West,Pacific,NaN,NaN
42,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1.610613e+09,Spurs,spurs,West,Southwest,NaN,NaN
43,False,False,Shanghai,Shanghai,Shanghai Sharks,SDS,1.232900e+04,Shanghai Sharks,shanghai_sharks,Intl,,NaN,NaN
44,False,False,Sydney,Sydney,Sydney Kings,SYD,1.501500e+04,Kings,kings,Intl,,NaN,NaN
45,True,False,Toronto,Toronto,Toronto Raptors,TOR,1.610613e+09,Raptors,raptors,East,Atlantic,NaN,NaN
46,True,False,Utah,Utah,Utah Jazz,UTA,1.610613e+09,Jazz,jazz,West,Northwest,NaN,NaN
47,True,False,Washington,Washington,Washington Wizards,WAS,1.610613e+09,Wizards,wizards,East,Southeast,NaN,NaN
africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'isNBAFranchise': False, 'isAllStar': False,..."
eventName,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,league_roster,NaN
pubDateTime,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-30 20:00:04.422,NaN
sacramento,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
standard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'isNBAFranchise': False, 'isAllStar': True, ..."
utah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
vegas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[{'isNBAFranchise': True, 'isAllStar': False, ..."
xslt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,xsl/league/roster/marty_teams_list.xsl,NaN