## Working on Jsons

In [2]:
import requests
import json
import pandas as pd

In [30]:
r = requests.get(url='https://mdn.github.io/learning-area/javascript/oojs/json/superheroes.json')

json_readed = r.json()
json_readed

{'squadName': 'Super Hero Squad',
 'homeTown': 'Metro City',
 'formed': 2016,
 'secretBase': 'Super tower',
 'active': True,
 'members': [{'name': 'Molecule Man',
   'age': 29,
   'secretIdentity': 'Dan Jukes',
   'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']},
  {'name': 'Madame Uppercut',
   'age': 39,
   'secretIdentity': 'Jane Wilson',
   'powers': ['Million tonne punch',
    'Damage resistance',
    'Superhuman reflexes']},
  {'name': 'Eternal Flame',
   'age': 1000000,
   'secretIdentity': 'Unknown',
   'powers': ['Immortality',
    'Heat Immunity',
    'Inferno',
    'Teleportation',
    'Interdimensional travel']}]}

-------------

Esto es un ejemplo para insertar dos puntos ":" en la séptima línea de un hipotético string en el que le falta ese mismo str.

In [ ]:
ulr_string = r.text
type(ulr_string)
with open('data_no_json.txt', 'w+') as outfile:
    outfile.write(ulr_string)

In [28]:
l = ["a", "b", "c", "d"]
l.insert(2, "X")
l

['a', 'b', 'X', 'c', 'd']

In [27]:
with open('data_no_json.txt', 'r+') as outfile:
    for i in range(7):
        line = outfile.readline()
        print(line)
        l_line = list(line)
        l_line.insert(6, ":")

{

  "squadName" : "Super Hero Squad",

  "homeTown" : "Metro City",

  "formed" : 2016,

  "secretBase" : "Super tower",

  "active" : true,

  "members" : [

Fin del ejemplo

-------------

In [11]:
print(json_readed)

{'squadName': 'Super Hero Squad', 'homeTown': 'Metro City', 'formed': 2016, 'secretBase': 'Super tower', 'active': True, 'members': [{'name': 'Molecule Man', 'age': 29, 'secretIdentity': 'Dan Jukes', 'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']}, {'name': 'Madame Uppercut', 'age': 39, 'secretIdentity': 'Jane Wilson', 'powers': ['Million tonne punch', 'Damage resistance', 'Superhuman reflexes']}, {'name': 'Eternal Flame', 'age': 1000000, 'secretIdentity': 'Unknown', 'powers': ['Immortality', 'Heat Immunity', 'Inferno', 'Teleportation', 'Interdimensional travel']}]}

------------------

Save json in a local file called "data.json"

In [9]:
with open('data.json', 'w+') as outfile:
    json.dump(json_readed, outfile)

In [14]:
with open('data.json') as f:
    line = f.readline()
    if line:
        print(line)

    line = f.readline()
print("Esta es la siguiente línea y está vacía:", line)

{"squadName": "Super Hero Squad", "homeTown": "Metro City", "formed": 2016, "secretBase": "Super tower", "active": true, "members": [{"name": "Molecule Man", "age": 29, "secretIdentity": "Dan Jukes", "powers": ["Radiation resistance", "Turning tiny", "Radiation blast"]}, {"name": "Madame Uppercut", "age": 39, "secretIdentity": "Jane Wilson", "powers": ["Million tonne punch", "Damage resistance", "Superhuman reflexes"]}, {"name": "Eternal Flame", "age": 1000000, "secretIdentity": "Unknown", "powers": ["Immortality", "Heat Immunity", "Inferno", "Teleportation", "Interdimensional travel"]}]}
Esta es la siguiente:

------------------

Save with indent

In [16]:
with open('data_indented.json', 'w+') as outfile:
    json.dump(json_readed, outfile, indent=4)

------------------

Read local json

In [18]:
with open('data_indented.json', 'r+') as outfile:
    json_readed = json.load(outfile)
print(type(json_readed))
json_readed

<class 'dict'>

{'squadName': 'Super Hero Squad',
 'homeTown': 'Metro City',
 'formed': 2016,
 'secretBase': 'Super tower',
 'active': True,
 'members': [{'name': 'Molecule Man',
   'age': 29,
   'secretIdentity': 'Dan Jukes',
   'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']},
  {'name': 'Madame Uppercut',
   'age': 39,
   'secretIdentity': 'Jane Wilson',
   'powers': ['Million tonne punch',
    'Damage resistance',
    'Superhuman reflexes']},
  {'name': 'Eternal Flame',
   'age': 1000000,
   'secretIdentity': 'Unknown',
   'powers': ['Immortality',
    'Heat Immunity',
    'Inferno',
    'Teleportation',
    'Interdimensional travel']}]}

In [19]:
df = pd.DataFrame(json_readed)  # From dict
df

          squadName  ...                                            members
0  Super Hero Squad  ...  {'name': 'Molecule Man', 'age': 29, 'secretIde...
1  Super Hero Squad  ...  {'name': 'Madame Uppercut', 'age': 39, 'secret...
2  Super Hero Squad  ...  {'name': 'Eternal Flame', 'age': 1000000, 'sec...

[3 rows x 6 columns]

In [32]:
df_json = pd.read_json("data_indented.json")
df_json

          squadName  ...                                            members
0  Super Hero Squad  ...  {'name': 'Molecule Man', 'age': 29, 'secretIde...
1  Super Hero Squad  ...  {'name': 'Madame Uppercut', 'age': 39, 'secret...
2  Super Hero Squad  ...  {'name': 'Eternal Flame', 'age': 1000000, 'sec...

[3 rows x 6 columns]

------------------

### Data Mining & Data Wrangling
As you can see, there are jsons inside the original json. For that, we have to mining the json (data mining) to be able to use it correctly (data wrangling). 

How do you solve this issue? Research about this and try a solution.

In [34]:
type(df_json["members"])

pandas.core.series.Series

In [38]:
with open('data_indented.json', 'r') as outfile:
    json_readed = json.load(outfile)
    for dict_ in json_readed["members"]:
        print(dict_)

{'name': 'Molecule Man', 'age': 29, 'secretIdentity': 'Dan Jukes', 'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']}
{'name': 'Madame Uppercut', 'age': 39, 'secretIdentity': 'Jane Wilson', 'powers': ['Million tonne punch', 'Damage resistance', 'Superhuman reflexes']}
{'name': 'Eternal Flame', 'age': 1000000, 'secretIdentity': 'Unknown', 'powers': ['Immortality', 'Heat Immunity', 'Inferno', 'Teleportation', 'Interdimensional travel']}

1. Leemos data_indented.json
2. Cargamos el contenido en una variable
3. Cogemos el contenido de la key/columna "members"

In [40]:
with open("data_indented.json", "r+") as outfile:
    json_readed = json.load(outfile)
    members_json_list = json_readed["members"]  # Real json
members_json_list

[{'name': 'Molecule Man',
  'age': 29,
  'secretIdentity': 'Dan Jukes',
  'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']},
 {'name': 'Madame Uppercut',
  'age': 39,
  'secretIdentity': 'Jane Wilson',
  'powers': ['Million tonne punch',
   'Damage resistance',
   'Superhuman reflexes']},
 {'name': 'Eternal Flame',
  'age': 1000000,
  'secretIdentity': 'Unknown',
  'powers': ['Immortality',
   'Heat Immunity',
   'Inferno',
   'Teleportation',
   'Interdimensional travel']}]

------------------

1. Guardamos los datos en un fichero "final_data.json"
2. Cargamos el fichero con pandas

In [41]:
with open('final_data.json', 'w+') as outfile:
    json.dump(members_json_list, outfile, indent=4)

In [43]:
df_members_json = pd.read_json("final_data.json")
df_members_json

              name  ...                                             powers
0     Molecule Man  ...  [Radiation resistance, Turning tiny, Radiation...
1  Madame Uppercut  ...  [Million tonne punch, Damage resistance, Super...
2    Eternal Flame  ...  [Immortality, Heat Immunity, Inferno, Teleport...

[3 rows x 4 columns]

-------------------

Nota:

1. Con dumps, cargamos el contenido de un diccionario a formato string
2. Con loads, cargamos el contenido de un string a formato json formal.

--------------------------------------

**Concatenamos por columnas los dataframes**

In [47]:
final_df = pd.concat([df_json, df_members_json], axis=1>)
final_df

SyntaxError: invalid syntax (<ipython-input-47-88caae374d66>, line 1)

In [48]:
final_df = final_df.drop(["members"], axis=1)
final_df

          squadName  ...                                             powers
0  Super Hero Squad  ...  [Radiation resistance, Turning tiny, Radiation...
1  Super Hero Squad  ...  [Million tonne punch, Damage resistance, Super...
2  Super Hero Squad  ...  [Immortality, Heat Immunity, Inferno, Teleport...

[3 rows x 9 columns]